In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

## Fixer for auto2.csv

In [2]:
df = pd.read_csv('auto2.csv', skipinitialspace=True)

In [3]:
df.head()

,maker,type,CityMPG+,HighwayMPG+,Air_Bags_standard,Drive_train_type,Number_of_cylinders,Engine_size,Horsepower,RPM,...,Passenger_capacity,Length,Wheelbase,Width,U-turn_space,Rear_seat_room,Luggage_capacity,Weight-,domestic,Class-
0,0,3,25,31,0,1,4.0,1.8,140,6300,...,5,177,102,68,37,26.5,11.0,2705,0,15.9
1,0,2,18,25,2,1,6.0,3.2,200,5500,...,5,195,115,71,38,30.0,15.0,3560,0,33.9
2,1,0,20,26,1,1,6.0,2.8,172,5500,...,5,180,102,67,37,28.0,14.0,3375,0,29.1
3,1,2,19,26,2,1,6.0,2.8,172,5500,...,6,193,106,70,37,31.0,17.0,3405,0,37.7
4,2,2,22,30,1,0,4.0,3.5,208,5700,...,4,186,109,69,39,27.0,13.0,3640,0,30.0

In [4]:
df = df.replace('?', np.nan)

In [5]:
df.isna().sum()

maker                            0
type                             0
CityMPG+                         0
HighwayMPG+                      0
Air_Bags_standard                0
Drive_train_type                 0
Number_of_cylinders              0
Engine_size                      0
Horsepower                       0
RPM                              0
Engine_revolutions_per_mile      0
manual_transmission_available    0
Fuel_tank_capacity               0
Passenger_capacity               0
Length                           0
Wheelbase                        0
Width                            0
U-turn_space                     0
Rear_seat_room                   0
Luggage_capacity                 0
Weight-                          0
domestic                         0
Class-                           0
dtype: int64

In [6]:
df['Number_of_cylinders'] = pd.to_numeric(df['Number_of_cylinders'], errors='coerce')
df['Rear_seat_room'] = pd.to_numeric(df['Rear_seat_room'], errors='coerce')
df['Luggage_capacity'] = pd.to_numeric(df['Luggage_capacity'], errors='coerce')

In [7]:
df = df.fillna(df.mean())

In [8]:
le = LabelEncoder()
df['maker'] = le.fit_transform(df['maker'])
df['type'] = le.fit_transform(df['type'])

In [9]:
# df.to_csv('auto2.csv', index=False)

## Fixer for healthCloseIsses12mths0001-hard.csv

In [10]:
df2 = pd.read_csv('healthCloseIsses12mths0001-hard.csv', skipinitialspace=True)

In [11]:
le = LabelEncoder()
df2['criterion'] = le.fit_transform(df2['criterion'])

In [12]:
# df2.to_csv('healthCloseIsses12mths0001-hard.csv')

## Fixer for healthCloseIsses12mths0011-easy.csv

In [13]:
df3 = pd.read_csv('healthCloseIsses12mths0011-easy.csv', skipinitialspace=True)

In [14]:
le = LabelEncoder()
df3['criterion'] = le.fit_transform(df3['criterion'])

In [15]:
# df3.to_csv('healthCloseIsses12mths0011-easy.csv')

## Fixer for Auto93

In [16]:
df = pd.read_csv('auto93.csv', skipinitialspace=True)

In [17]:
df.head()

   Clndrs  Volume    HpX  Lbs-  Acc+  Model  origin  Mpg+
0       8   304.0  193.0  4732  18.5     70       1    10
1       8   360.0  215.0  4615  14.0     70       1    10
2       8   307.0  200.0  4376  15.0     70       1    10
3       8   318.0  210.0  4382  13.5     70       1    10
4       8   429.0  208.0  4633  11.0     72       1    10

In [18]:
df = df.replace('?', np.nan)

In [19]:
df.isna().sum()

Clndrs    0
Volume    0
HpX       0
Lbs-      0
Acc+      0
Model     0
origin    0
Mpg+      0
dtype: int64

In [20]:
df['HpX'] = pd.to_numeric(df['HpX'], errors='coerce')

In [21]:
df = df.fillna(df.mean())

In [22]:
df.to_csv('auto93.csv', index=False)