In [1]:
import pandas as pd

In [2]:
DATA_DIR = "../etc/data/"

In [3]:
data = pd.read_csv(DATA_DIR+"auto93.csv", skipinitialspace=True)

In [4]:
data.head()

   Clndrs  Volume  HpX  Lbs-  Acc+  Model  origin  Mpg+
0       8   304.0  193  4732  18.5     70       1    10
1       8   360.0  215  4615  14.0     70       1    10
2       8   307.0  200  4376  15.0     70       1    10
3       8   318.0  210  4382  13.5     70       1    10
4       8   429.0  208  4633  11.0     72       1    10

In [5]:
data[data.values == '?']

     Clndrs  Volume HpX  Lbs-  Acc+  Model  origin  Mpg+
177       6   200.0   ?  2875  17.0     74       1    20
206       4   151.0   ?  3035  20.5     82       1    20
209       4   140.0   ?  2905  14.3     80       1    20
232       4    98.0   ?  2046  19.0     71       1    30
360       4   100.0   ?  2320  15.8     81       2    30
390       4    85.0   ?  1835  17.3     80       2    40

In [7]:
data = data.replace("?", None)

In [8]:
data[data.values == '?']

Empty DataFrame
Columns: [Clndrs, Volume, HpX, Lbs-, Acc+, Model, origin, Mpg+]
Index: []

In [9]:
data[data.isnull().any(axis=1)]

     Clndrs  Volume   HpX  Lbs-  Acc+  Model  origin  Mpg+
177       6   200.0  None  2875  17.0     74       1    20
206       4   151.0  None  3035  20.5     82       1    20
209       4   140.0  None  2905  14.3     80       1    20
232       4    98.0  None  2046  19.0     71       1    30
360       4   100.0  None  2320  15.8     81       2    30
390       4    85.0  None  1835  17.3     80       2    40

In [10]:
data = data.dropna()

In [11]:
data[data.isnull().any(axis=1)]

Empty DataFrame
Columns: [Clndrs, Volume, HpX, Lbs-, Acc+, Model, origin, Mpg+]
Index: []

In [12]:
data[data.values == '?']

Empty DataFrame
Columns: [Clndrs, Volume, HpX, Lbs-, Acc+, Model, origin, Mpg+]
Index: []

In [13]:
data.head()

   Clndrs  Volume  HpX  Lbs-  Acc+  Model  origin  Mpg+
0       8   304.0  193  4732  18.5     70       1    10
1       8   360.0  215  4615  14.0     70       1    10
2       8   307.0  200  4376  15.0     70       1    10
3       8   318.0  210  4382  13.5     70       1    10
4       8   429.0  208  4633  11.0     72       1    10